/* semester sortierung css */
.block_semester_sortierung .loadingmodinfo {
    margin: -1px -1px 5px;
}

.block_semester_sortierung fieldset {
    border: 1px solid #DDD;
    padding: 0 5px 5px;
    min-height: 20px;
}

.block_semester_sortierung .semester_sortierungcontainer > fieldset {
    padding-top: 0px;
}

.block_semester_sortierung .semester > legend {
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0;
}
.block_semester_sortierung .course > legend  {
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    cursor: pointer;
    white-space: nowrap;
    max-width: 100%;
}

.block_semester_sortierung .course > legend > a {
    font-weight: bold;
    font-size: 15.15px;
    display: inline-block !important;
    white-space: normal;
    word-wrap: break-word;
    max-width: calc(100% - 17px);
}


.block_semester_sortierung .loading > legend > a {
    max-width: calc(100% - 16px);
}

.block_semester_sortierung .expandablebox {
    overflow: hidden;
    height: 1px;
}

.block_semester_sortierung .expanded > .expandablebox,
.block_semester_sortierung .no_javascript .semester > .expandablebox  {
    height: auto !important;
    overflow: visible !important;
}

.block_semester_sortierung legend > .imgbox {
    background-image: url([[pix:t/switch_plus]]);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    display: inline-block;
    height: 10px;
    width: 12px;
    zoom: 1;  *display: inline; *height: 15px; /* IE7 Hack */
    margin-right: 5px;
}

.block_semester_sortierung .expanded  > legend > .imgbox {
    background-image: url([[pix:t/switch_minus]]);
}

.block_semester_sortierung .loading > legend > .imgbox{
    background-image: url([[pix:i/loading_small]]);
    background-position: 0 0;
    display: inline-block;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin: 0 0 -2px 2px;
    zoom: 1;  *display: inline; *height: 15px; /* IE7 Hack */
}

.block_semester_sortierung fieldset fieldset {
    border: 1px solid #DDD;
    padding-left: 5px;
    margin-left: 5px;
}

.block_semester_sortierung .no_javascript .imgbox,
.block_semester_sortierung .no_javascript .course > .expandablebox {
    display: none;
}

.block_semester_sortierung .togglefavorites.invisible {
    display: none;
}
.block_semester_sortierung .semester .favoriteicon {
    display: none;
}

/* bigger fix here */
.block_semester_sortierung .course > legend {
    padding-right: 0px;
}

.block_semester_sortierung .coursebox {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.block_semester_sortierung fieldset.course {
    min-height: 30px;
}

.block_semester_sortierung .no_javascript .semester .favoriteicon,
.block_semester_sortierung .semester.nosemester .favoriteicon,
.block_semester_sortierung .semester.expanded .favoriteicon {
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 0px;
}

.block_semester_sortierung fieldset {
    position: relative;
}

.block_semester_sortierung legend {
    border: 0px;
    width: auto !important;
    max-width: 100%;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 19px;
}

/* end of bigger fix */

.block_semester_sortierung .no_javascript .semester .togglefavorites img,
.block_semester_sortierung .semester.nosemester .togglefavorites img,
.block_semester_sortierung .semester.expanded .togglefavorites img{
    height: 16px;
    width: 17px;
    right: 0px;
    position: absolute;
    display: block !important;
}


.togglefavorites {
    position: absolute;
    right: 10px;
    margin-top: -12px;
}

.block_semester_sortierung .unreadforumposts {
    position: absolute;
    text-align: right;
    margin-top: -14px;
    right: 42px;
}

/* one line fix :) */

.block_semester_sortierung .content {
    position: relative;
}

.block_semester_sortierung .coursebox div.info {
    width: 100% !important;
}

.block_semester_sortierung .semester.empty {
    display: none;
}

.block_semester_sortierung .move-drag-start {
    cursor: move;
}

.block_semester_sortierung fieldset.dragged {
    opacity: 0.3;
}

.block_semester_sortierung .blockmovetarget.drop-selected {
    background-color: #f00
}

.block_semester_sortierung .blockmovetarget {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    display: block;
    border-width: 2px;
    border-style: dashed;
}

.block_semester_sortierung fieldset.course .coursebox div.name a {
    word-break: break-all;
    display: inline-block;

}

@media (max-width: 991px) {

    .block_semester_sortierung .course > legend > a {
        max-width: 92%;
    }
}

@media (max-width: 767px) {
    .block_semester_sortierung .course > legend > a {
        max-width: 88%;
    }

}

@media (max-width: 575px) {

    .block_semester_sortierung .course > legend > a {
        max-width: 81%;
    }
}

@media (max-width: 375px) {

    .block_semester_sortierung .course > legend > a {
        max-width: 75%;
    }
}