/* semester sortierung css */
.block_semester_sortierung .loadingmodinfo {
    margin: -1px -1px 5px;
}

.block_semester_sortierung fieldset {
    border: 1px solid #DDD;
    padding: 0 5px 5px;
    min-height: 20px;
}

.block_semester_sortierung .semesteroverviewcontainer > fieldset {
    padding-top: 0px;
}

.block_semester_sortierung .semester > legend {
    font-weight: bold;
    cursor: pointer;
    color: #3D4653;
    font-size: 16px;
}
.block_semester_sortierung .course > legend  {
    margin-top: 5px;
    margin-bottom: 5px;
    background: none;
    cursor: pointer;
}

.block_semester_sortierung .course > legend  > a {
    font-weight: bold;
    color: #002C73;
    font-size: 15.15px;
}

.block_semester_sortierung .course > legend > a:hover {
    color: #CC0033;
}

.block_semester_sortierung .course > legend > a.dimmed {
    color: #AAAAAA;
}

.block_semester_sortierung .expandablebox {
    overflow: hidden;
    height: 1px;
}

.block_semester_sortierung .expanded > .expandablebox,
.block_semester_sortierung .no_javascript .semester > .expandablebox  {
    height: auto !important;
    overflow: visible !important;
}

.block_semester_sortierung legend > .imgbox {    
    background-image: url([[pix:t/switch_plus]]);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    display: inline-block;
    height: 10px;
    width: 12px;
    zoom: 1;  *display: inline; *height: 15px; /* IE7 Hack */
}

.block_semester_sortierung .expanded  > legend > .imgbox {
    background-image: url([[pix:t/switch_minus]]);
}

.block_semester_sortierung .loading > legend > .imgbox{
    background-image: url([[pix:i/loading_small]]);
    background-position: 0 0;
    display: inline-block;
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin: 0 -2px -2px 2px;
    zoom: 1;  *display: inline; *height: 15px; /* IE7 Hack */
}

.block_semester_sortierung fieldset fieldset {
    border: 1px solid #DDD; 
    padding-left: 5px;
    margin-left: 5px;
}

.block_semester_sortierung .no_javascript .imgbox,
.block_semester_sortierung .no_javascript .course > .expandablebox {
    display: none;
}

.block_semester_sortierung .togglefavorites.invisible {
    display: none;
}
.block_semester_sortierung .semester .favoriteicon {
    display: none;
}

.block_semester_sortierung .no_javascript .semester .favoriteicon,
.block_semester_sortierung .semester.expanded .favoriteicon{
    height: 16px;
    width: 17px;
    right: 32px;
    margin-top: -12px;
    position: absolute;
    display: block !important;
}

.block_semester_sortierung .coursebox div.info {
    width: 100% !important;
}

.block_semester_sortierung .semester.empty {
    display: none;
}