<fieldset title="{{{course.fullname}}}" class="course {{#expanded}} expanded {{/expanded}} {{#course.visible}} nothidden {{/course.visible}} {{^course.visible}} hidden {{/course.visible}}" data-id="{{{course.id}}}" data-semester="{{{course.semester_short}}}" data-fav="{{{favorite}}}">
    <legend>
        {{#userediting}}<span class="move-drag-start hidden">{{#pix}} i/dragdrop, moodle,  {{/pix}}</span><a href="{{{staticmoveurl}}}" class="move-static">{{#pix}}t/move, moodle, {{/pix}}</a>{{/userediting}}<span class="imgbox"></span><!--<span class="" style="display: inline-block; width: 16px; margin-right: 1px"></span>--><a href="{{{courseurl}}}" title="{{{course.fullname}}}" class="courselink {{^course.visible}}dimmed{{/course.visible}}">{{{course.fullname}}}</a>
    </legend>
    {{#course.unreadforumposts}}
        <a class="unreadforumposts" href="{{course.unreadforumpostsurl}}" title="{{#str}}unreadpostsnumber,forum,{{{.}}}{{/str}}">
            {{#pix}}icon,forum{{/pix}}
            <div class="count-container">{{.}}</div>
        </a>

    {{/course.unreadforumposts}}
    {{#showfavorites}}
        <a href="{{{favoritesremoveurl}}}" class="togglefavorites off {{#favorite}}invisible{{/favorite}}">
            {{#pix}}fav_off, block_semester_sortierung, {{#str}}addtofavorites, block_semester_sortierung{{/str}}{{/pix}}
        </a>
        <a href="{{{favoritesaddurl}}}" class="togglefavorites on {{^favorite}}invisible{{/favorite}}">
            {{#pix}}fav_on, block_semester_sortierung, {{#str}}removefromfavorites, block_semester_sortierung{{/str}}{{/pix}}
        </a>
    {{/showfavorites}}
    {{^showfavorites}}
        <div></div><div></div>
    {{/showfavorites}}
    <div class="expandablebox">
        {{{course_info}}}
    </div>
</fieldset>