<fieldset class="semester{{#expanded}} expanded {{/expanded}} {{#empty}} empty {{/empty}}  {{{semestercode}}}" data-id="{{{semestercode}}}">
    <legend>
        <div class="imgbox"></div>{{{semestertitle}}}
    </legend>
    <div class="expandablebox">